
body {
  background-image: url("./images/blank-rectangle-colorful-abstract-frame/v695-taus-03-abstractgradientbackground.jpg");
  background-size: cover;
}

button.btn {
  background-color: #009DAE;
}

#name {
  color: rgb(133, 68, 133);
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#tagline-intro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

img {
  height: 400px;
  width: 200px;
}

div.col {
  margin: 60px;
}

#hire-tag {
  color: rgb(238, 126, 95);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: bolder;
}

