
body {
  background-image: url("./../../public/images/bg-template.jpg");
  background-size: contain;
}

button.btn {
  background-color: #009DAE;
}
a.btn {
  background-color: #009DAE;
}

#name {
  color: rgb(133, 68, 133);
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#tagline-intro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

img {
  height: 400px;
  width: 200px;
}

div.col {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: start;
}

#hire-tag {
  color: rgb(238, 126, 95);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: bolder;
}
.icon-size {
  font-size: 30px;
  color: rgb(133, 68, 133);
}

.card-img-top {
  height: 140px;
  object-fit: contain;
}
.card {
  padding: 10px;
  margin: 10px;
}

div.card {
  text-align: center;
}

.image-card-container {
  display: flex;
  flex-direction: column;
}

.vl {
  border-left: 6px solid  rgb(238, 126, 95);;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  margin-top: -1%;
}

#exp-title {
  font-weight: bolder;
  color: rgb(133, 68, 133);
}


#edu-title {
  font-weight: bolder;
  color: rgb(133, 68, 133);
}

footer {
  background-color: whitesmoke;
}

.form-container {
  margin-top: 20%;
  margin-left: 35px;
}
.inputbox-size {
    margin-top: 10%;
    width: 200px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  .edu-cards {
  margin-left: 55%;
}
  .exp-cards {
  margin-left: 15%;
}
  #edu-title {
  margin-left: 23%;
}

#exp-title {
  margin-top: 20%;
  margin-left: 60%;
}

.image-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.col {
  margin-top: 120px;
  margin-left: 100px;
}

.inputbox-size {
    margin-top: 5%;
    width: 350px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

}
